ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

ul.nav.main {
  background-color: #505050;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  padding: 1ex;
  font-weight: bold;
}

ul.nav.main li a {
  color: white;
}

ul.nav.sub li a {
  color: black;
}

ul.nav li a {
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #e0e0e0;
}

ul.nav li a.active {
  background-color: green;
}
